{% extends 'blog/base.html' %}
{% load markdown_extras %}
{% block intro %}
{% load static %}
    <div style="float:left; width: 40%;">
        <h1 class="intro_title">Hi I'm <strong>Nick Lombardi</strong>.</h1>
        <div id="intro_title_bottom"></div>
        <div id="my_photo">
            <img width="100%" src="{% static 'blog/images/iu.jpg' %}" />
        </div>
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Resume</span></a></li>
        </ul>
    </div>
    <div class="intro_card" style="float: right; width: 60%;">
        <h3>
            I have <strong>designed</strong> and <strong>developed</strong> this website in order to
            publish my thoughts, ideas, and ongoing research projects. Throughout this website you
            will find in-depth <strong style="color:#5f4d93;">analysis</strong>, <strong style="color: #5f4d93">
            statistics</strong> and <strong style="color: #5f4d93">applied economics</strong> on
            various research topics from <strong style="color:#7ec3ee;">environmental issues</strong>
            to <strong style="color: #7ec3ee">investment strategies</strong>.

            The purpose of conducting these <strong>analyses</strong> is to continue developing the
            theory and principles learned throughout my masters, while continuing to <strong>develop
            </strong> my <strong style="color: #1ABC9C;">PYTHON</strong>,
            <strong style="color: #1ABC9C">R</strong>, <strong style="color: #1ABC9C">MATLAB</strong>,
            and <strong style="color: #1ABC9C">C++</strong> skills.
        </h3>
    </div>
    <!-- <div class="section_border"></div> -->
{% endblock intro %}
{% block content %}
    <h1 class="cm-sectionTitle">Skills</h1>
    <div id="skills">
        <ul>
            <div class="bk-tool-icon-hover"><li><img src="{% static 'blog/images/skills_python.jpg' %}" /></li></div>
            <li><img src="{% static 'blog/images/skills_vba.jpg' %}" /></li>
            <li><img src="{% static 'blog/images/skills_sql.jpg' %}" /></li>
            <li><img src="{% static 'blog/images/skills_linux.jpg' %}" /></li>
            <li><img src="{% static 'blog/images/skills_powerbi.jpg' %}" /></li>
            <li><img src="{% static 'blog/images/skills_excel.jpg' %}" /></li>
        </ul>
    </div>

{% endblock content %}
{% block footer %}
<div></div>
{% endblock %}