{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block intro %}
    <div class="content">
        <h2>Reset Password</h2>
        <div id="form">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }} <!--  |crispy allows us to use a filter, crispy in this case -->
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock intro %}
{% block content %}
    <ul class="actions special">
    </ul>
{% endblock content %}